<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="https://github.com/AICSC/Coding-Challenges">Coding Challenges</a></li>
          <li><a href="https://www.facebook.com/groups/AICSC/">Facebook Group</a></li>
          <li><a href="https://portal.kccd.edu/jsp/grouptools/frame/FrameSet.jsp?tab=1&url=https%3A%2F%2Fportal.kccd.edu%2Fjsp%2Fgrouptools%2Fhome%2FHomePage.jsp%3FgroupID%3D22353">Inside BC</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <p class="text">{{ site.description | strip_newlines }}</p>
      </div>
    </div>
  </div>
</footer>