<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>{% if page.title and page.title != "Minutes" and page.title != "Agenda" %}{{ page.title }}{% elsif page.title == "Minutes" %}Meeting Minutes {{ page.date | date: "%B %-d, %Y" }}{% elsif page.title == "Agenda" %}Agenda for {{ page.date | date: "%B %-d, %Y" }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  {% feed_meta %}
  {% seo title=false %}
</head>